# SPDX-License-Identifier: GPL-2.0

config SOC_K210_SYSCTL
	bool "Canaan Kendryte K210 SoC system controller"
	depends on ARCH_CANAAN && OF
	default ARCH_CANAAN
        select PM
        select MFD_SYSCON
	help
	  Canaan Kendryte K210 SoC system controller driver.
